@import url('https://fonts.cdnfonts.com/css/brightwall');

.appointment-container {
    max-width: 414px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.appointment-title {
    text-align: center;
    font-size: 24px;
    color: #764B36;
    font-family: 'Brightwall', sans-serif;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #764B36;
    padding-bottom: 10px;
}

.appointment-input, .appointment-item input[type="text"], .appointment-item input[type="time"], .appointment-item input[type="date"] {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

.add-appointment-button {
    padding: 8px 16px;
    background-color: #764B36;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.appointment-list {
    list-style-type: none;
    padding: 0;
}

.appointment-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #764B36;
    font-size: 20px;
}

.icon-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

.editing {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Responsive Media Queries */
@media (min-width: 768px) {
    .appointment-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .appointment-container {
        max-width: 1024px;
    }

    .appointment-title {
        font-size: 32px;
    }

    .appointment-input,
    .appointment-item input[type="text"],
    .appointment-item input[type="time"],
    .appointment-item input[type="date"] {
        font-size: 24px;
    }

    .appointment-item {
        font-size: 24px;
    }

    .icon-button img {
        width: 30px;
        height: 30px;
    }
}



@media (max-width: 429px) {
    .appointment-input,
    .appointment-item input[type="text"],
    .appointment-item input[type="time"],
    .appointment-item input[type="date"] {
        font-size: 12px;
    }

    .appointment-item {
        font-size: 14px;
    }

    .icon-button img {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 385px) {
    .appointment-input,
    .appointment-item input[type="text"],
    .appointment-item input[type="time"],
    .appointment-item input[type="date"] {
        font-size: 10px;
    }

    .appointment-item {
        font-size: 12px;
    }

    .icon-button img {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 365px) {
    .appointment-input,
    .appointment-item input[type="text"],
    .appointment-item input[type="time"],
    .appointment-item input[type="date"] {
        font-size: 8px;
    }

    .appointment-item {
        font-size: 10px;
    }

    .icon-button img {
        width: 10px;
        height: 10px;
    }
}
