/* Stile generale per la TodoList */
@import url('https://fonts.cdnfonts.com/css/brightwall');

.todo-list-container {
    max-width: 414px; /* Larghezza simile a quella di iPhone 14 Pro Max */
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

/* Titolo */
.todo-title {
    text-align: center;
    font-size: 24px;
    color: #764B36;
    font-family: 'Brightwall', sans-serif; /*font personalizzato */
}

/* Input container con linea in evidenza */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #764B36;
    padding-bottom: 10px;
}

/* Input e bottoni */
.todo-input,
.todo-item input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.add-task-button {
    padding: 8px 16px;
    background-color: #764B36;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #764B36;
    font-size: 20px;
}

.icon-button {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.icon-button img {
    width: 24px;
    height: 24px;
}

.todo-item.editing {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.todo-checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: solid 1px #764B36;
    border-radius: 4px 0 4px 0;
    position: relative;
    cursor: pointer;
}

.todo-checkbox:checked::before {
    content: '✔';
    color: #000000;
    position: absolute;
    left: 2px;
    top: -3px;
    font-size: 18px;
}

.icon-container {
    display: flex;
    margin-left: auto;
}


.todo-checkbox:not(:checked),
.todo-checkbox:checked {
    transition: background-color 0.3s, border-color 0.3s;
}

.todo-checkbox:not(:checked):hover,
.todo-checkbox:checked:hover {
    border-color: #a06060;
}

/* Responsive*/


@media (min-width: 768px) {
    .todo-list-container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .todo-list-container {
        max-width: 1024px;
    }

    .todo-title {
        font-size: 32px;
    }

    .todo-input,
    .todo-item input[type="text"] {
        font-size: 24px;
    }

    .todo-item {
        font-size: 24px;
    }
}
