/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #EFE7DD;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

.app-header ul {
  list-style-type: none;
  padding: 0;
  background: #fff;
  text-align: center;
}

.app-header li {
  display: inline;
  margin-right: 25px;
  border-color: white;
}

.app-header a {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

.app-header a.active {
  color: #000;
  pointer-events: none;
}

.app-header {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.app {
  padding-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
}

.nav-icon {
  width: 30px;
  height: auto;
}


.nav-link.active {
  border-bottom: 3px solid #000;
}

@media (max-width: 768px) {
  .app-header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
}

@media (min-width: 768px) {
  .app-header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
}
